@model List<Demo.Models.Post>
       
<h3>Lista de Posts</h3>    
<div class="row create-action">
    <div class="col-md-12">
        <a href="@Url.Action("Create")" class="btn btn-primary pull-right">Crear Post</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Comentario</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Comments</td>
                        <td>
                            <a href="@Url.Action("Edit", new { Id = item.Id})">Editar</a> |
                            <a href="@Url.Action("Delete", new { Id = item.Id})">Eliminar</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>